@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
    background-color: brown;
}
img {
    width: 300px;
}

.rojo {
color: red;
}

h2 {
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

h3 {
    color: blue;
}

h4 {
    color: blueviolet;
}